
<div class="mt-5">

    <!-- KHÓA HỌC MIỄN PHÍ -->
    <div class="row d-flex align-items-stretch">
        <h4 class="mb-4 title-strong">Khóa học miễn phí</h4>
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 mb-4 ">
            <div class="border-0 bg-light card rounded-4 card-course-item h-100 shadow-sm ">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image.url}}" class="card-img-top rounded-top-4 " alt="{{this.name}}" style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body d-flex flex-column">
                    <a href="/courses/{{this.slug}}" class="card-link">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>

                    {{!-- Xét điều kiện miễn phí --}}
                    {{#if (eq this.price '0 VNĐ')}}
                        <p class="card-text fw-semibold" style="color: rgb(255, 94, 0);">Miễn phí</p>
                        <div class="mt-auto">
                            <a href="/courses/{{this.slug}}" class="btn-grad fw-semibold">Học ngay</a>
                        </div>
                    {{else}}
                        <p class="card-text fw-semibold" style="color: rgb(255, 94, 0);">{{this.price}}</p>
                            <div class="mt-auto">
                            <a href="/courses/{{this.slug}}" class="btn-grad fw-semibold">Mua khóa học</a>
                        </div>
                    {{/if}}
                    
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- BÀI VIẾT NỔI BẬT -->
    <div class="mt-5">
        <h4 class="mb-4 title-strong">Bài viết nổi bật</h4>
        <div class="row">
            {{#each posts}}
            <div class="col-md-6 col-lg-4 mb-4 ">
                <div class="border-0 bg-light none card rounded-4 h-100 shadow-sm">
                    <a href="/posts/{{this.slug}}">
                        <img src="{{this.thumbnail}}" class="card-img-top rounded-top-4" alt="{{this.title}}" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <a href="/posts/{{this.slug}}" class="card-link">
                            <h5 class="card-title text-dark">{{this.title}}</h5>
                        </a>
                        <!-- Tác giả và thời gian -->
                        <div class="d-flex align-items-center gap-2 mt-3 text-muted small">
                            <img src="{{this.avatarAuthor}}" class="rounded-circle" width="30" height="30">
                            <strong>{{this.author}}</strong>
                            <span>•</span>
                            <span>{{timeAgo this.createdAt}}</span>
                        </div>

                        <div class="mt-auto pt-3">
                            <a href="/posts/{{this.slug}}" class="btn-grad">Đọc bài viết</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


</div>


