<nav class="navbar navbar-expand-lg bg-danger-subtle shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/LOGO FINAL.png" alt="logo" style="width: 100px; height: auto;">
    </a>  
    <form class="search-container" method="GET" action="/search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Tìm kiếm khóa học, bài viết, ..." name="keyword" id="searchInput" value="{{keyword}}">{{!-- Hiển thị lại giá trị vừa nhập --}}
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown me-3">
          <a class="nav-link position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell fs-5 mt-1 {{#if unreadNotifications.length}}text-danger{{/if}}"></i>
            {{#if unreadNotifications.length}}
              <span class="position-absolute bg-danger text-white rounded-circle d-flex justify-content-center align-items-center"
                    style="top: -4px; right: 0px; width: 16px; height: 16px; font-size: 10px;">
                {{unreadNotifications.length}}
                <span class="visually-hidden">thông báo chưa đọc</span>
              </span>
            {{/if}}
          </a>
          {{!-- Dropdown menu for notifications --}}
          <ul class="dropdown-menu dropdown-menu-end rounded-3 shadow border-0" id="dropdownNotification" style="width: 400px; max-height: 400px; overflow-y: auto;">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="dropdown-header mb-2 ms-3 mt-2 fw-bold text-dark fs-5">Thông báo</h4>
              <a href="" id="realAll" class="dropdown-header mb-2 ms-3 mt-2 " style="color: rgb(255, 94, 0);">Đánh dấu đã đọc</a>
            </div>
            {{#if notifications.length}}
              {{#each notifications}}
                <li class="mb-2 px-3">
                  <a href="" data-id="{{this._id}}" class="text-decoration-none text-dark isRead">
                    <div class="small p-3 pe-3 rounded-3 {{#unless this.isRead}}bg-warning-subtle{{/unless}}">
                      Yêu cầu xóa bài viết 
                      <strong >"{{this.meta.post_title}}"</strong> 
                      của bạn bị từ chối vì lý do: 
                      <strong style="color: rgb(255, 94, 0);">"{{this.meta.reasonDeny}}"</strong>
                      <div class="fw-semibold mt-2 small" style="color: rgb(255, 94, 0);">{{timeAgo this.createdAt}}</div>
                  </div>
                  </a>
                </li>
              {{/each}}
            {{else}}
              <li class="text-muted small text-center">Không có thông báo nào ở đây</li>
            {{/if}}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{account.avatar}}" alt="Ca-py-ba-ra" class="user-avatar">
            {{account.fullName}}
          </a>
          <ul class="dropdown-menu custom-dropdown bg-light border-0 shadow">
            <li><a class="dropdown-item " href="/me/my-profile">Trang cá nhân</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/posts/create">Đăng bài viết</a></li>
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/list-post">Bài viết của tôi</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/user/logout">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{!-- Thêm các thẻ form ẩn để gửi yêu cầu PATCH --}}
<form id="realAllForm" method="POST"></form>
<form id="isRead" method="POST"></form>

<script>

  // Ngăn sự kiện nổi bọt
  document.querySelectorAll('.dropdown-menu').forEach(dropdown => {
    dropdown.addEventListener('click', (e) => {
      e.stopPropagation(); 
    });
  });

  //Xử lí form giả lập
  const realAll = document.getElementById('realAll');
  const realAllForm = document.getElementById('realAllForm');

  const isRead = document.querySelectorAll('.isRead');
  const isReadForm = document.getElementById('isRead');

  isRead.forEach((item) => {
    item.addEventListener('click', (e) => {
      e.preventDefault(); 
      const notificationId = item.getAttribute('data-id'); 
      isReadForm.action = `/notifications/${notificationId}/read?_method=PATCH`; 
      isReadForm.submit(); 
    });
  });

  realAll.addEventListener('click', (e) => {
    e.preventDefault(); 
    realAllForm.action = '/notifications/readAll?_method=PATCH';
    realAllForm.submit(); 
  });

</script>

