<div class="mt-4">
    <div class="row d-flex align-items-stretch">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card card-course-item h-100 shadow-sm">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}" style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body d-flex flex-column">
                    <a href="/courses/{{this.slug}}" class="card-link">
                        <h5 class="card-title text-primary">{{this.name}}</h5>
                    </a>
                    <p class="card-text text-muted">{{this.description}}</p>
                    <div class="mt-auto">
                        <a href="/checkout/{{this.slug}}" class="btn btn-success w-100">Mua khóa học</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
