<section class="min-vh-100 d-flex align-items-center justify-content-center" style="background-color: #f6f9f8;">
  <div class="container-fluid py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mx-auto" style="border-radius: .5rem; max-width: 1200px;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-black d-flex flex-column align-items-center justify-content-center"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="{{myAccount.avatar}}"
                alt="Avatar" class="img-fluid my-4" style="width: 120px; height: 120px; border-radius: 50%;" />
              <h5 class="fs-4">{{myAccount.fullName}}</h5>
              <p class="fs-5">{{myRole.name}}</p>
              <a href="/admin/my-account/{{myAccount._id}}/edit"><i class="far fa-edit mb-4 fs-5"></i></a>
            </div>
            <div class="col-md-8">
              <div class="card-body p-5">
                <h6 class="fs-4">Thông tin cá nhân</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-5">
                    <div class="col-6 mb-3">
                        <h6 class="fs-5">Email</h6>
                        <p class="text-muted fs-6">{{myAccount.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6 class="fs-5">Số điện thoại</h6>
                        <p class="text-muted fs-6">{{myAccount.phone}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
