<div class="mt-4">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{countDeleted}})</a>
  </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                {{!-- Sử dụng helpers: Để tạo hàm sum index --}}
                <th scope="row"> {{sum @index 1}}</th>  
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <!-- Button trigger modal 
                         Trước tiên phải lấy được ID-->
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id = "{{this._id}}" data-bs-target="#delete-course-modal">Xóa</a> 
                </td>
            </tr>
            {{else}}
            <tr>
              <td class="text-center" colspan="5">Bạn chưa đăng khóa học nào
                <a href="/courses/create">Đăng khóa học</a>
              </td>   
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắn chắn muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
{{!-- Không có action tại vì đây nó nhận 1 list nên không dùng course._id được --}}
<form id="delete-course-form" method="POST"></form>

<script>
    var courseID
    var deleteForm = document.getElementById('delete-course-form')
    var btnDeleteCourse = document.getElementById('btn-delete-course')

    //Xử lí sự kiện khi hộp thoại model show
    const deleteModal = document.getElementById('delete-course-modal')
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        courseID = button.getAttribute('data-id') //Lấy ra được id
    })

    //Xử lí sự kiện khi click vào button xóa bỏ
    btnDeleteCourse.onclick = function(event){

      //Đẩy form xuống và gán action cho nó
      deleteForm.action = '/courses/' + courseID + '?_method=DELETE'
      deleteForm.submit()

    }
}
</script>